.individ {
  padding-bottom: 0;
}

.container .individ-list {
  display: flex;
  align-items: flex-start;
}

.ind-list {
  width: 270px;
}

.ind-list:not(:last-child) {
  margin-right: 30px;
}

.individ-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.individ-text {
  line-height: 1.7;
  margin-bottom: 0;
}

.icon-thumb {
  height: 120px;
  background-color: var(--buttons-background);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
